body {
    background-color: black;
    margin: 0;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, sans-serif;
    overflow-x:hidden;
    overflow-y:auto;
}

span {
    padding-left: 1rem;
    font-weight: 700;
    font-size: 0.8125rem;
}

#main-container {
    display: flex;
    flex-direction: row;
}

#left-bar {
    width: 18vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-left: 28px;
    padding-top: 24px;
    position:fixed;


}

#left-bar-section-1 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;

}

#left-bar-section-2 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;

}

#left-bar-section-3 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;

}

#left-bar-section-4 {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
}

.left-bar-items {
    display: flex;
    width: 50%;
    padding-top: 0.5rem;
    align-items: center;
    padding-bottom: 0.5rem;
}

#logo {
    width: 50%;
    padding-bottom: 24px;
}

#plus-icon-background {
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    text-align: center;
    border-radius: 0.2rem;
    justify-content: center;
    display: flex;
}

#hearth-icon-background {
    background: rgb(82, 0, 134);
    background: linear-gradient(152deg, rgba(82, 0, 134, 1) 0%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 100%);
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    text-align: center;
    border-radius: 0.2rem;
    justify-content: center;
    display: flex;
}

#country-select {
    border-radius: 1.3rem;
    border-style: solid;
    border-color: white;
    height: 10%;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-width: 0.01rem;
}
#right-section{
    display: flex;
    flex-direction: row;

}
#top-bar {
    min-height: 50px;
    width: 80vw;
    height: 10vh;
    background-color: rgb(16, 16, 16);
    color: white;
    position:fixed;
    margin-left:20vw;
    padding-right:10px;


}

button {
    background-color: rgb(16, 16, 16);
    color: white;
}

.dot {
    opacity: 0.6;
    border: none;
    border-radius: 50%;
    background-color: rgb(9, 9, 9);
    cursor: not-allowed;
    display: inline-flex;
    height: 32px;
    width: 32px;
    text-align: center;


}

#top-bar-section-1 {
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    float: right;
}

#left {
    justify-content: center;
    padding-top: 8px;
}

#right {
    justify-content: center;
    padding-top: 8px;
}

#space-1 {
    padding: 10px;
}

#s-1 {
    padding: 10px 200px;
}

#premium {
    border: 0;
    padding: 8px 16px;
    color: #A7A7A7;
    font-size: 15px;
    writing-mode: horizontal-tb;

}

#support {
    border: 0;
    padding: 8px 16px;
    color: #A7A7A7;
    font-size: 15px;
    writing-mode: horizontal-tb;
}

#download {
    border: 0;
    padding: 8px 16px;
    color: #A7A7A7;
    font-size: 15px;
    writing-mode: horizontal-tb;
}

#top-bar-section-2 {
    text-align: left;
    display: inline-flex;
    border: 0;
    margin: 0;
    padding: 15px;
    vertical-align: baseline;
}

#space-2 {
    padding: 20px;
}

#s-2 {
    padding: 8px 16px;
}

#sign-up {
    border: 0;
    font-size: 15px;
    padding: 8px 32px 8px 8px;
    color: #A7A7A7;
}

#log-in {
    font-size: 20px;
    color: black;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 5px 32px;
}

#main-section {
    width: 80vw;
    height: 150vh;
    background-color: #5e5e5e;
    color: white;
    padding-left:21vw;
    margin-right:20px;

}

p {
    color: #A7A7A7;
    text-align: left;
    font-size: 15px;
}

.ss {
    padding: 4px;
}

#head {
   padding-left:30px;
    padding-top:100px;
    font-size:2rem;
}

#focus {
    display: flex;
    flex-direction: row;

}

h5 {
    text-align: left;
    font-size: 20px;
}
.music{
    box-sizing:border-box;
    text-align: center;
    border-radius: 5px;
    background-color:rgb(36,36,36);
    margin:15px;
    padding:0 10px;
    border: 1px solid #242424;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: baseline;
    width:200px;
}
img {
    border-radius: 10px;
    padding-top: 15px;
    width: 150px;
    height: 150px;
    text-align: center;

}

.s {
    margin: 10px;
}

#playlist {
    display: flex;
    flex-direction: row;


}

#head-2 {
    padding-left: 30px;
    font-size:2rem;
}


